.mainhead {background: #ccc;width: 100%;display: block;height: 150px;}
.topsection {width: 200px;display: block;border: 1px solid #333;background-color: #333;padding: 20px 3px}
.mybtn {background-color: #009900;color: #fff;border-radius: 2px}